:root {
    --main-text-color: #757575;
    --scnd-text-color: #212121;
    --acc: #2196F3;
    --bcg-dark: #2F303A;
    --bcg-light: #F5F4FA;
    --bcg: #FFFFFF;
    --logo-header: #000000;
    --border: #ECECEC;
    --border-portfolio: #eeeeee;
    --btn: #F5F4FA;
    --contact-footer: rgba(255, 255, 255, 0.6);
    --border-client: #AFB1B8;
    --bcg-footer-logo: rgba(255, 255, 255, 0.1);
    --icon-color: #afb1b8;
    --indent: 30px;
    --features: 4;
    --subdev: 3;
    --command: 4;
    --work: 3;
    --duration: 250ms;
    --func: cubic-bezier(0.4, 0, 0.2, 1);
    --clients:2

}