.clients {
    @extend %sect-padd;
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 92px;
        
        @include flex-basis (var(--indent), var(--clients));
        
        @media screen and (min-width: 768px){
            --clients:3;
        @include flex-basis (var(--indent), var(--clients));
    max-width: 226px}
        @media screen and (min-width: 1200px){
            --clients:6;
        @include flex-basis (var(--indent), var(--clients));}
        border: 1px solid var(--border-client);
        border-radius: 4px;

        color: var(--icon-color);
        transition-property: color, border;
        transition-duration: var(--duration);
        transition-timing-function: var(--func);

        &:hover,
        &:focus {
            color: var(--acc);
            border: 1px solid var(--acc);
        }
    }
}